.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;
    flex-wrap: wrap;
}

.page-item {
    background-color: var(--primary-color--alternative);
    border: 3px dotted var(--accent-secondary-color);

    margin: .1rem 0.3rem;
    padding: 0.2rem 1rem;
}

.page-item:hover,
.page-item:focus {
    background-color: var(--accent-secondary-color);
    color: var(--secondary-font-color);
}