.drawer-button {
    display: none;
    position: fixed;
    bottom: 10%;
    z-index: 1;
    left: 80%;
    width: 10%;
}

@media (min-width: 700px) {
    .drawer-button {
        display: none;
    }
}