* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  margin: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;

  --primary-color: #fff1e5;
  --primary-color--alternative: #fff7ef;
  --secondary-color: rgb(106, 106, 106);

  --accent-primary-color: #9e1c47;
  --accent-secondary-color: #0d7680;

  --primary-font-color: #231f20;
  --secondary-font-color: #ffffff;



}

body {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

#root {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

/* typography */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

small {
  font-size: 0.7 rem;
}

@media (min-width: 650px) {}

/* Layout */