.welcome {
    display: grid;

}

.greetings {
    grid-column: 1/ 2;
}

@media (min-width: 980px) {
    .welcome {
        grid-template-columns: 1em repeat(5, 1fr) 1em;

    }

    .greetings {
        width: 100%;
        padding-left: 1rem;
        grid-column: 3;
    }
}