nav {
    padding-bottom: 2rem;
    grid-column: 3/ span 5;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.menu-item {
    list-style: none;
    padding: 0 .3rem;

}