.nav {
    /* display: none; */
    position: fixed;
    bottom: 0%;
    z-index: 1;
    left: 0%;
    padding: 1.5rem 4rem;
    background-color: var(--primary-color);
}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.menu-item {
    list-style: none;
    padding: 0 .5rem;
}

@media (min-width: 700px) {
    .nav {
        position: inherit;
        /* display: none; */
        grid-column: 3/ 10;
        grid-row: 2;
        padding: 0;
        background: none;
    }

}